In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
np.seterr(divide='ignore', invalid='ignore')

# three different data sets, an occurrence, income, and population
data_occ = pd.read_csv('/Users/quarkoli/PycharmProjects/pythonWork/datasets/UNdata.csv')
df3 = pd.read_csv('/Users/quarkoli/PycharmProjects/pythonWork/datasets/UNincome.csv')
data_pop = pd.read_csv('/Users/quarkoli/PycharmProjects/pythonWork/datasets/UNpop.csv')

In [3]:
# wanted to remove value footnotes and rename certain columns
data_occ = data_occ.drop(columns="Value Footnotes")
data_pop = data_pop.drop(columns="Value Footnotes")

data_occ.rename(columns={'Value': 'Occurrence'}, inplace=True)
data_pop.rename(columns={'Value': 'Population'}, inplace=True)
# multiply this column by 1000 so that it is correct
data_pop['Population'] = data_pop['Population'] * 1000

# this is where I am trying to concatenate the two data frames, the population data set is a lot longer than the
# occurrence
new_set = pd.concat([data_pop,data_occ], axis=1)
# renamed some of the columns since they were repeating
new_set.columns = ['Country Population', 'Year(s) long', 'Population', 'Country Occurrence','Year(s) short','Occurrence']
# print(new_set.columns)


print(new_set.loc[:,'Country Population']) # 4462
print(data_occ.loc[:, 'Occurrence']) # length 1091

# want to select only Congo country value over a ten year period, 2002-2012
print(new_set[new_set['Country Population'] == 'Democratic Republic of the Congo'])

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
4457       Zimbabwe
4458       Zimbabwe
4459       Zimbabwe
4460       Zimbabwe
4461       Zimbabwe
Name: Country Population, Length: 4462, dtype: object
0        54840.0
1        77549.0
2        69397.0
3        64880.0
4        81574.0
          ...
1086     32788.0
1087    116518.0
1088     39404.0
1089     37908.0
1090     33980.0
Name: Occurrence, Length: 1091, dtype: float64
                    Country Population  Year(s) long  Population  \
1081  Democratic Republic of the Congo          2012    65705000
1082  Democratic Republic of the Congo          2011    63932000
1083  Democratic Republic of the Congo          2010    62191000
1084  Democratic Republic of the Congo          2009    60486000
1085  Democratic Republic of the Congo          2008    58819000
1086  Democratic Republic of the Congo          2007    57188000
1087  Democratic Republic of the Congo          2006    55591000
1088  Democratic Republic of the Congo          2005    54028000
1089  Democratic Republic of the Congo          2004    52487000
1090  Democratic Republic of the Congo          2003    50972000
1091  Democratic Republic of the Congo          2002    49517000
1092  Democratic Republic of the Congo          2001    48167000
1093  Democratic Republic of the Congo          2000    46949000
1094  Democratic Republic of the Congo          1999    45889000
1095  Democratic Republic of the Congo          1998    44961000
1096  Democratic Republic of the Congo          1997    44078000
1097  Democratic Republic of the Congo          1996    43123000
1098  Democratic Republic of the Congo          1995    42013000
1099  Democratic Republic of the Congo          1994    40712000
1100  Democratic Republic of the Congo          1993    39257000
1101  Democratic Republic of the Congo          1992    37731000
1102  Democratic Republic of the Congo          1991    36253000
1103  Democratic Republic of the Congo          1990    34911000

     Country Occurrence  Year(s) short  Occurrence
1081             Zambia         2007.0         0.0
1082           Zimbabwe         2012.0    276963.0
1083           Zimbabwe         2011.0    319935.0
1084           Zimbabwe         2010.0    249379.0
1085           Zimbabwe         2009.0    114028.0
1086           Zimbabwe         2008.0     32788.0
1087           Zimbabwe         2007.0    116518.0
1088           Zimbabwe         2006.0     39404.0
1089           Zimbabwe         2005.0     37908.0
1090           Zimbabwe         2004.0     33980.0
1091                NaN            NaN         NaN
1092                NaN            NaN         NaN
1093                NaN            NaN         NaN
1094                NaN            NaN         NaN
1095                NaN            NaN         NaN
1096                NaN            NaN         NaN
1097                NaN            NaN         NaN
1098                NaN            NaN         NaN
1099                NaN            NaN         NaN
1100                NaN            NaN         NaN
1101                NaN            NaN         NaN
1102                NaN            NaN         NaN
1103                NaN            NaN         NaN

In [4]:

# only want occurrence data, float value
congo_Occ = new_set.iloc[273:284,5]
congo_Pop = new_set.iloc[1081:1092,2]

print(congo_Occ)
print(congo_Pop)

273    4791598.0
274    4561981.0
275    2417780.0
276    1878705.0
277    1618218.0
278     740858.0
279       2050.0
280       2971.0
281       2684.0
282       2438.0
283       1735.0
Name: Occurrence, dtype: float64
1081    65705000
1082    63932000
1083    62191000
1084    60486000
1085    58819000
1086    57188000
1087    55591000
1088    54028000
1089    52487000
1090    50972000
1091    49517000
Name: Population, dtype: int64

In [5]:

years = new_set.iloc[0:11,1]
# incidence rate calculation for Congo per 10000
# congo Occurrence / congo Population
rate = (congo_Occ/congo_Pop)*1.0e+05
print(rate) # prints NaN for all values

# plt.plot(years,rate)
# plt.show()

273    NaN
274    NaN
275    NaN
276    NaN
277    NaN
278    NaN
279    NaN
280    NaN
281    NaN
282    NaN
283    NaN
1081   NaN
1082   NaN
1083   NaN
1084   NaN
1085   NaN
1086   NaN
1087   NaN
1088   NaN
1089   NaN
1090   NaN
1091   NaN
dtype: float64